# MANIFEST.in
#
# This tells distutils what files to distribute.

include README.rst
include LICENSE
recursive-include backports *.py
recursive-include test *.py
recursive-include windows *.h
include windows/lib/liblzma.dll
include windows/lib/liblzma.a
